# PD模型训练

## 1. 加载训练集与测试集

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()

In [9]:
inputs_train = pd.read_csv('inputs_train.csv', index_col=0)
targets_train = pd.read_csv('targets_train.csv', index_col=0)
inputs_test = pd.read_csv('inputs_test.csv', index_col=0)
targets_test = pd.read_csv('targets_test.csv', index_col=0)

In [10]:
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:MORTGAGE,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,...,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86,tot_coll_amt:Missing,tot_coll_amt:>0,tot_cur_bal:Missing,tot_cur_bal:>0
163968,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
190522,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
457953,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
439306,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
358628,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [11]:
targets_train.head()

        good_bad
163968         1
190522         1
457953         1
439306         1
358628         1